@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

header{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-decoration: none;
}

header a:hover, a:visited {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-decoration: none;
}

header h1 {
  text-decoration: none;
  color: #243654;
}

header h1.a:hover, h1.a:visited {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-decoration: none;
}
